@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Creepster&family=Space+Grotesk:wght@300;400;700&display=swap');

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Creepster", system-ui, sans-serif;
  --font-accent: "Space Grotesk", sans-serif;

  --color-festival-orange: #FF914D;
  --color-festival-purple: #9D50BB;
  --color-festival-dark: #1A0B2E;
  --color-festival-green: #7ED957;
  --color-festival-light: #FDFBFF;
  --color-festival-soft-purple: #F3E8FF;
}

body {
  background-color: var(--color-festival-light);
  color: var(--color-festival-dark);
  font-family: var(--font-sans);
}

.spooky-text { font-family: var(--font-display); }
.accent-text { font-family: var(--font-accent); }
.kids-text { font-family: var(--font-sans); }
